.single-video-btns {
    display: flex;
    flex-direction: row;
}

.single-video-btns > button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--video-secondary-light);
    padding: 0.5rem;
    border-radius: 4px;
}

.single-video-btns .single-video-action:hover {
    background-color: var(--video-secondary-color);
    transition: 300ms ease;
    cursor: pointer;
}

.single-video-desc {
    font-size: 1.2rem;
}

.single-video-title {
    font-family: 'Montserrat', sans-serif;
}